@font-face {
  font-family: run;
  src: url(../fonts/run.otf);
}
@font-face {
  font-family: deadly;
  src: url(../fonts/deadly.ttf);
}
@font-face {
  font-family: death;
  src: url(../fonts/death.ttf);
}
@font-face {
  font-family: gloomy;
  src: url(../fonts/gloomy.ttf);
}
@font-face {
  font-family: melted;
  src: url(../fonts/melted.ttf);
}
@font-face {
  font-family: night;
  src: url(../fonts/night.ttf);
}
@font-face {
  font-family: nightscary;
  src: url(../fonts/nightscary.ttf);
}
@font-face {
  font-family: nightside;
  src: url(../fonts/nightside.ttf);
}
@font-face {
  font-family: satan;
  src: url(../fonts/satan.ttf);
}
@font-face {
  font-family: storm;
  src: url(../fonts/storm.ttf);
}
@font-face {
  font-family: strange;
  src: url(../fonts/strange.ttf);
}
@font-face {
  font-family: strangerback;
  src: url(../fonts/strangerback.ttf);
}
@font-face {
  font-family: swamp;
  src: url(../fonts/swamp.ttf);
}
@font-face {
  font-family: bloodlust;
  src: url(../fonts/bloodlust.ttf);
}
@font-face {
  font-family: danger;
  src: url(../fonts/danger.ttf);
}

h1 {
  font-family: run, 'Open Sans';
  color: #c2c2c2 margin 5px;
  padding: 5px;
  background: #74747400;
  line-height: 1.6em;
  text-align: center;
  font-size: 30px;
  letter-spacing: 3px;
}

h2 {
  font-family: run, 'Open Sans';
  color: #f0ebeb margin 5px;
  padding: 5px;
  background: #74747400;
  line-height: 1.6em;
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
}

h3 {
  font-family: gloomy, 'Open Sans';
  color: #c2c2c2 margin 5px;
  padding: 5px;
  background: #74747400;
  line-height: 1.6em;
  text-align: center;
  letter-spacing: 1px;
}

h4 {
  font-family: 'Open Sans';
  color: #ff0505 margin 50px;
  padding: 100px;
  background: #74747400;
  line-height: 1.2em;
  text-align: center;
  font-size: 30px;
  letter-spacing: 1px;
  top: 50px;
}

h5 {
  font-family: run, 'Open Sans';
  color: #ff0505 margin 10px;
  padding: 10px;
  background: #74747400;
  line-height: 1.2em;
  text-align: center;
  font-size: 30px;
  letter-spacing: 1px;
  top: 50px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #b1b1b1;
  margin: 0;
  padding: 0;
  background: #74747400;
  line-height: 2em;
  text-align: center;
}

#header {
  background-color: #00000000;
  color: #ffffff00;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 30px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

#header h1 {
  margin: 0;
  font-size: 2em;
}

#nav {
  background-color: white;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

#nav ul {
  list-style-type: none;
  padding: 0;
  display: inline-flex;
  justify-content: center;
}

#nav ul li {
  margin-right: 15px;
}

#nav ul li a {
  color: #007bff;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

#nav ul li a:hover {
  color: #0056b3;
}

.content-section {
  margin: 20px 15px;
  background-color: #ffffff1b;
  padding: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.content-section h2 {
  color: #82878c;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.content-section p {
  color: #666;
}

.content-section img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

@media screen and (min-width: 600px) {
  body {
    padding: 0 10%;
  }

  #nav ul {
    justify-content: flex-start;
  }

  .content-section {
    margin: 30px 0;
  }
}

#ghost {
  position: absolute;
  height: 50px;
  width: 50px;
  background-image: url('../images/invertedfrontskull.png');
  background-size: cover;
  pointer-events: none;
  transition: all 0.1s ease-out;
  opacity: 1; /* temporary, for testing */
}
